[submodule "Common/Lib/AMD/ADL"]
	path = Common/Lib/AMD/ADL
	url = ../common-lib-amd-adl.git
[submodule "Common/Lib/Ext/GoogleTest"]
	path = Common/Lib/Ext/GoogleTest
	url = ../common-lib-ext-GoogleTest-1.7.git
[submodule "Common/Lib/Ext/OpenGL"]
	path = Common/Lib/Ext/OpenGL
	url = ../common-lib-ext-OpenGL.git
[submodule "Common/Lib/Ext/OpenGLES"]
	path = Common/Lib/Ext/OpenGLES
	url = ../common-lib-ext-OpenGLES.git
[submodule "Common/Lib/Ext/Windows-Kits"]
	path = Common/Lib/Ext/Windows-Kits
	url = ../common-lib-ext-WindowsKits.git
[submodule "Common/Src/ADLUtil"]
	path = Common/Src/ADLUtil
	url = ../common-src-ADLUtil.git
[submodule "Common/Src/AmdDxExt"]
	path = Common/Src/AmdDxExt
	url = ../common-src-AmdDxExt.git
[submodule "Common/Src/AMDTMutex"]
	path = Common/Src/AMDTMutex
	url = ../common-src-AMDTMutex.git
[submodule "Common/Src/DeviceInfo"]
	path = Common/Src/DeviceInfo
	url = ../common-src-DeviceInfo.git
[submodule "Common/Src/DynamicLibraryModule"]
	path = Common/Src/DynamicLibraryModule
	url = ../common-src-DynamicLibraryModule.git
[submodule "Common/Src/GPUPerfAPIUtils"]
	path = Common/Src/GPUPerfAPIUtils
	url = ../common-src-GPUPerfAPIUtils.git
[submodule "Common/Src/TSingleton"]
	path = Common/Src/TSingleton
	url = ../common-src-TSingleton.git
[submodule "Common/Src/Vsprops"]
	path = Common/Src/Vsprops
	url = ../common-src-Vsprops.git
[submodule "Common/Lib/AMD/APPSDK"]
	path = Common/Lib/AMD/APPSDK
	url = ../common-lib-amd-APPSDK-3.0.git
