<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.amd.gpa.vkcolorcube">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="vkcolorcube" android:hasCode="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".VkColorCubeLoader"
                android:label="vkcolorcube"
                android:configChanges="orientation|keyboardHidden">

            <meta-data android:name="android.app.lib_name"
                    android:value="VkColorCube@APK_SUFFIX@" />

            <meta-data android:name="android.app.lib_name"
                       android:value="VkColorCube@APK_SUFFIX@" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
